name: CI
on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Test
        run: script/test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # The `github/codeql-action/start-proxy` action uses native binaries for
  # Linux, macOS, and Windows.
  build-codeql:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod

      - name: Build
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            go build -o dependabot-proxy.exe .
          else
            go build -o dependabot-proxy .
          fi
        env:
          CGO_ENABLED: 0

      - name: Set output name
        id: platform
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            echo "name=linux64" >> $GITHUB_OUTPUT;
          elif [[ "${{ matrix.os }}" == "macos-latest" ]]; then
            echo "name=osx64" >> $GITHUB_OUTPUT;
          elif [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            echo "name=win64" >> $GITHUB_OUTPUT;
          fi

      - name: Compress binary artifact
        shell: bash
        env:
          PLATFORM_NAME: ${{ steps.platform.outputs.name }}
        run: |
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            tar -czvf dependabot-proxy-win64.tar.gz dependabot-proxy.exe;
          else
            tar -czvf "dependabot-proxy-${PLATFORM_NAME}.tar.gz" dependabot-proxy;
          fi

      - name: Upload binary artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: dependabot-proxy-${{ steps.platform.outputs.name }}.tar.gz
          name: dependabot-proxy-${{ steps.platform.outputs.name }}
