name: Publish Docker images (GHCR)
on:
  push:
    branches:
      - main

permissions: {}

jobs:
  publish:
    name: Build and publish Docker images
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
      packages: write
    
    steps:
      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Publish Docker
        run: script/cibuild-publish-ghcr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
